<div class="container" id="main-container">
<div class="btn btn-warning btn-block mb-3" (click)="onOpenModal(null, 'add')">Add Product</div>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">Price</th>
    <th scope="col">Initial Quantity</th>
    <th scope="col">Total Units In Order</th>
    <th scope="col">Actual In Stock</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody *ngFor="let product of productTable">
  <tr>
    <th scope="row">{{product.id}}</th>
    <td>{{product.name}}</td>
    <td>{{product.description | slice: 0:100}}</td>
    <td>{{product.price | currency:"PLN "}}</td>
    <td>{{product.quantity}}</td>
    <td>{{product.totalUnitsInOrder}}</td>
    <td>{{product.currentTotalUnitsInStock}}</td>
    <td>
      <button type="button" class="btn btn-primary" (click)="onOpenModal(product, 'edit')">Edit
      </button>
      <button (click)="onOpenModal(product, 'delete')" type="button" class="ml-2 btn btn-danger">X</button>

    </td>
  </tr>
  </tbody>
</table>

  <!-- Add Product Modal -->
  <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addProductModalLabel">Add Product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="addProduct(addForm)">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" ngModel name="name" class="form-control" placeholder="Car" required>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <input type="text" ngModel name="description" class="form-control" id="author" placeholder="Opel Astra 2001" required>
            </div>
            <div class="form-group">
              <label for="quantity">Quantity</label>
              <input type="number" ngModel name="quantity" class="form-control"  placeholder="1" required>
            </div>
            <div class="form-group">
              <label for="price">Price</label>
              <input type="number" ngModel name="price" class="form-control"  placeholder="10000" required>
            </div>
            <div class="form-group">
              <label for="imageUrl">Image</label>
              <input type="text" ngModel name="imageUrl" class="form-control" placeholder="Url image" required>
            </div>
            <div class="modal-footer">
              <button type="button" id="add-song-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Modal -->
  <div class="modal fade" id="updateProductModal" tabindex="-1" role="dialog" aria-labelledby="productEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateProductModalLabel">Edit Product:  {{editProduct?.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <div class="form-group">
              <label for="name">Name</label>
              <input  type="text" ngModel="{{editProduct?.name}}" name="name" class="form-control" id="name">
              <label for="name">Description</label>
              <input type="text" ngModel="{{editProduct?.description}}" name="description" class="form-control" id="description" aria-describedby="emailHelp">
              <label for="name">Quantity</label>
              <input type="text" ngModel="{{editProduct?.quantity}}" name="quantity" class="form-control" id="quantity">
              <label for="name">Price</label>
              <input type="text" ngModel="{{editProduct?.price}}" name="price" class="form-control" id="price">
              <label for="name">Image</label>
              <input type="text" ngModel="{{editProduct?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl">
            </div>
            <div class="modal-footer">
              <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
              <button (click)="updateProduct(editProduct.id, editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
  <div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Delete Product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete product: {{deleteProduct?.name}}?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button (click)="removeProduct(deleteProduct?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Notification for no products -->
  <div *ngIf="productTable?.length === null" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">No Products!</h4>
      <p>No Products were found.</p>
    </div>
  </div>
</div>




