<div class="container" id="main-container">
  <div class="btn btn-warning btn-block mb-3" (click)="onOpenModal(null, 'add')">Add User</div>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Username</th>
      <th scope="col">Authority</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody *ngFor="let user of userTable">
    <tr>
      <th scope="row">{{user.id}}</th>
      <td>{{user.username}}</td>
      <td>{{user.authority}}</td>
      <td>
        <button type="button" class="btn btn-primary" (click)="onOpenModal(user, 'edit')">Edit
        </button>
        <button type="button" class="ml-2 btn btn-danger" (click)="onOpenModal(user, 'delete')"
                *ngIf="user.authority == 'USER'">X
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <!-- Add User Modal -->
  <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addUserModalLabel">Add User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="addProduct(addForm)">
            <div class="form-group">
              <label for="name">Username</label>
              <input type="text" ngModel name="username" class="form-control" id="username" placeholder="Maciek"
                     required>
            </div>

            <div class="form-group">
              <label for="price">Password</label>
              <input type="text" ngModel name="password" class="form-control" id="password" placeholder="a2345678"
                     required>
            </div>
            <div class="form-group">
              <label for="price">Authority</label>
              <input type="text" ngModel name="authority" class="form-control" id="price" placeholder="USER or ADMIN"
                     required>
            </div>
            <div class="modal-footer">
              <button type="button" id="add-user-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Edit Modal -->
  <div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog" aria-labelledby="userEditModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateUserModalLabel">Edit Product:  {{editUser?.username}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <div class="form-group">
              <label for="name">Username</label>
              <input type="text" ngModel="{{editUser?.username}}" name="username" class="form-control" id="name"
                     placeholder="Name">
            </div>
            <div class="modal-footer">
              <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
              <button (click)="updateUser(editUser.id, editForm.value)" data-dismiss="modal" class="btn btn-primary">
                Save changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Delete Modal -->
  <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Delete Product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete product: {{deleteUser?.username}}?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button (click)="removeUser(deleteUser?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Notification for no users -->
  <div *ngIf="userTable?.length === null" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">No Users!</h4>
      <p>No Users were found.</p>
    </div>
  </div>
</div>

