<div class="container" id="main-container">
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Cart Id</th>
    <th scope="col">Product Name</th>
    <th scope="col">Quantity</th>
    <th scope="col">Price</th>
    <th scope="col">Total Price</th>
    <th></th>
  </tr>
  </thead>
  <tbody *ngFor="let cart of cartTable">
  <tr>
    <th scope="row">{{cart.id}}</th>
    <td>{{cart.product.name}}</td>
    <td>{{cart.quantity}}</td>
    <td>{{cart.product.price | currency:"PLN "}}</td>
    <td>{{cart.quantity * cart.product.price | currency:"PLN "}}</td>

    <td>
      <button type="button" class="btn btn-primary" (click)="onOpenModal(cart, 'edit')">Edit
      </button>
    </td>
  </tr>
  </tbody>
</table>

  <!-- Delete Modal -->
  <div class="modal fade" id="deleteCartModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Delete Product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete cart: {{deleteCart?.id}}?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button (click)="removeCart(deleteCart?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="updateCartModal" tabindex="-1" role="dialog" aria-labelledby="songEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateSongModalLabel">Edit Cart:  {{editCart?.id}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <div class="form-group">
              <label for="name">Quantity</label>
              <input type="text" ngModel="{{editCart?.quantity}}" name="quantity" class="form-control" id="name"  placeholder="Name">
            </div>
            <div class="modal-footer">
              <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
              <button (click)="updateCart(editCart.id, editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Notification for no carts -->
  <div *ngIf="cartTable?.length === null" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">No Carts!</h4>
      <p>No Carts were found.</p>
    </div>
  </div>
</div>
